<% provide(:title, 'About Me') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Amit Acharya Blog | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About me</h1>
    <p>
      This will be my profile page. and this is about
    </p>
  </body>
</html>