<% provide(:title, "Contact")%>
<!DOCTYPE html>
<html>
  <head>
    <title>Amit Acharya Blog | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Need some help!
      Get in touch with me.
    </p>
  </body>
</html>