
<div class="center hero-unit">
  <h1>Welcome to Amit Acharya's Blog</h1>

  <h2>
    This is the home page for the
    <a href="http://amitacharya.com/">Amit Acharya's Blog</a>
  </h2>

  <%= link_to "Sign up now!", '#', class: "sign-up btn btn-large btn-primary" %>
</div>