<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title>Amit Acharya Blog | <%= yield(:title)%></title>
  </head>
  <body>
    <h1>My Blog</h1>
    <p>
      This is the home page for the
      <a href="http://amitacharya.com/">Amit Acharya Blog</a>
      sample application.
    </p>
  </body>
</html>