<div class="container">
  <div class="row">
    <div class="span2">
      <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"  alt="" class="img-rounded">
    </div>
    <div class="span4">
      <blockquote>
        <p>Amit Acharya</p>
        <small><cite title="Source Title">Bangalore, India  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> amitach@gmail.com <br>
        <i class="icon-globe"></i> www.amitacharya.com <br>
        <i class="icon-gift"></i> May 19, 1988
      </p>
    </div>
  </div>
</div>