<div class="container">
  <div class="row">
    <div class="span2 profile-pic">
      <%= image_tag asset_path("profile_pic.jpg"), height: 640, width: 640%>
    </div>
    <div class="span4">
      <blockquote>
        <p>Amit Acharya</p>
        <small><cite title="Source Title">Bangalore, India  <i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        <i class="icon-envelope"></i> amitach@gmail.com <br>
        <i class="icon-globe"></i> www.amitacharya.com <br>
        <i class="icon-gift"></i> May 19, 1988
      </p>
    </div>
  </div>
</div>


<div class="center hero-unit">
  <h2>Welcome to Amit Acharya's Blog</h2>

  <%= link_to "Sign up now!", '#', class: "sign-up btn btn-large btn-primary" %>
</div>